@import url("./_bg.css");
@import url("./_text.css");

.showModal-enter-active,
.showModal-leave-active {
  opacity: 1;
  transition: .5s;
}

.showModal-enter,
.showModal-leave-active {
  opacity: 0;
}

.bg-modalHeader {
  background: linear-gradient(270deg, #178d7b 0%, #1e86ba 99.8%);
}



.closeAlert-enter-active,
.closeAlert-leave-active {
  opacity: 1;
  transition: .5s;
}

.closeAlert-enter,
.closeAlert-leave-active {
  opacity: 0;
}

.alert{
  width: 25%;
  background-color: rgb(230,255,250);
  position: fixed;
  top:0;
  z-index: 99;
  opacity: 1;
  margin: auto;
  right: 50%;
}
.alert .body{
  padding: 2%;
}
.alert .footer{
  display: flex;
  justify-content: flex-end;
}
.alert .py-1{
  display: flex;
  align-items: center;
}

.top{
  background-color: rgb(56,178,172);
  height: 4px;
}

.alertFixed{
  background-color: rgb(75,85,95, 0.8);
}